# Add any directories, files, or patterns you don't want to be tracked by version control

# dir
*.ipynb_checkpoints/
*__pycache__/

notebooks/3_MLP/data/
!.gitkeep
notebooks/3_MLP/saved_model/
!.gitkeep


# file
*.zip
*.tar
*.gz